<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 
body:not(.rtl) .elementor-807 .elementor-element.elementor-element-3b4b1f3c{left:0px;}
.elementor-887 .elementor-element.elementor-element-1b8eee72{width:unset;}
.elementor-887 .elementor-element.elementor-element-79431ef3{width:unset!important;}
.elementor-887 .elementor-element.elementor-element-79431ef3{width:unset;}
.elementor-711 .elementor-element.elementor-element-f54a0ec{width:100%;}
.elementor-711 .elementor-element.elementor-element-55b918ce{width:100%;}


.elementor-807 .elementor-element.elementor-element-203eb08a{width:96%;}
.elementor-807 .elementor-element.elementor-element-164c5d0{width:unset;}
.elementor-807 .elementor-element.elementor-element-164c5d0{width:unset!important;}

.elementor-887 .elementor-element.elementor-element-2db408aa{width:100%;}
.elementor-887 .elementor-element.elementor-element-717ae91a{width:100%;}

body:not(.rtl) .elementor-887 .elementor-element.elementor-element-1b8eee72
{
  left: calc(50% + -625px);	
}
.elementor-887 .elementor-element.elementor-element-4799fd0d{width:100%;}
body:not(.rtl) .elementor-807 .elementor-element.elementor-element-203eb08a {
    left: calc(50% + -628px);
}
body:not(.rtl) .elementor-711 .elementor-element.elementor-element-460adab
{left: calc(50% + -620px);
	
}

.elementor-887 .elementor-element.elementor-element-33a9217c{width:100%;}
body:not(.rtl) .elementor-807 .elementor-element.elementor-element-15bcf74{width:100%;left:unset;}
.elementor-711 .elementor-element.elementor-element-7b4a0ed8{width:100%;}
.elementor-711 .elementor-element.elementor-element-5bb3e6ed{--width:100%;}
.elementor-807 .elementor-element.elementor-element-4172e8e9{width:100%;}
.elementor-807 .elementor-element.elementor-element-136bdfe3{width:100%;}
.elementor-807 .elementor-element.elementor-element-1f4f443c{width:100%;}
.elementor-807 .elementor-element.elementor-element-7a0cbaad{width:100%;}
.elementor-807 .elementor-element.elementor-element-164c5d0{width:1345px;}
.elementor-807 .elementor-element.elementor-element-7fa5646c{width:100%;}
.elementor-711 .elementor-element.elementor-element-f72226c{background:#1f1d1f}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull))
{
	max-width:100%!important
}
.has-global-padding{padding-left:unset!important;padding-right:unset!important}

.has-global-padding{padding-right:unset!important}
.elementor-70 .elementor-element.elementor-element-4bd08894 img{display:none;}

body:not(.rtl) .elementor-70 .elementor-element.elementor-element-3c48dfde{background:#fff;}

.elementor-137 .elementor-element.elementor-element-258234fd{top:600px!important;}
.elementor-137 .elementor-element.elementor-element-3d0b6de8{margin-top:100px}



body:not(.rtl) .elementor-137 .elementor-element.elementor-element-55bdb38e{left:20px}
.elementor-137 .elementor-element.elementor-element-57398d13{width:1368px;
}
.wp-block-template-part,.wp-block-group-is-layout-constrained{display:none}
.elementor-711 .elementor-element.elementor-element-43b35ef{display:none;}
.wp-block-group-is-layout-flow{margin-block-start:0px!important}
.elementor-711 .elementor-element.elementor-element-396fe834{margin-top:180px;}

.elementor-892 .elementor-element.elementor-element-4f1a719b .elementor-heading-title{font-size:18px;}
body:not(.rtl) .elementor-711 .elementor-element.elementor-element-5bb3e6ed{position:relative;}

.elementor-711 .elementor-element.elementor-element-38342945 .elementor-heading-title{color:#fff;}
body:not(.rtl) .elementor-705 .elementor-element.elementor-element-18f6597f{display:none;}
.elementor-705 .elementor-element.elementor-element-4c3ba06d:not(.elementor-motion-effects-element-type-background){display:none;}
.elementor-element-37fe31d{background:#1F1D1F!important,--widgets-spacing: 56px 20px!important;}
.elementor-element-38342945,.elementor-element-29d978e,.elementor-element-15cc3e5,.elementor-element-d72e818,.elementor-element-0868358{display:none!important}
.elementor-element-9c61323{background:#1F1D1F;}
.elementor-807 .elementor-element.elementor-element-4bfab4fe{display:none;}
.elementor-807 .elementor-element.elementor-element-2d9710cf{min-height:2900px;
}
.elementor-element-2f279aa1{display:none;}
.elementor-element-4172e8e9{background:#fff;}

.elementor-887 .elementor-element.elementor-element-79431ef3{width:1345px;}
.elementor-887 .elementor-element.elementor-element-1b8eee72{left:0px;}
.elementor-892 .elementor-element.elementor-element-56f311fc{width:unset;}

.elementor-897 .elementor-element.elementor-element-2910c259{width:unset;}
	.elementor-902 .elementor-element.elementor-element-2b6fb837{width:unset;}
.elementor-907 .elementor-element.elementor-element-7624908f{width:unset;}
	.elementor-912 .elementor-element.elementor-element-ae064cf{width:unset;}
@media (max-width: 767px) {
	
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-658f151 {
    left: 0px;
    top: 120px;
    text-align: center;
}
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-63e0845b {
    left: 0px;
    text-align: center;
    width: 100%;
}
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-63c8d5d4{top:200px;}
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-658f151{flex-direction:column-reverse;}
	
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-2192fc50{display:none;}
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-338c4512{display:none;}
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-61f0de32{display:none;}
	.elementor-912 .elementor-element.elementor-element-166824e1{display:none;}
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-658f151{left:0px;}
	.elementor-912 .elementor-element.elementor-element-63c8d5d4 img{width:100%;height:auto;}
	
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-a53e42c{left:125px;width:100px;}
	.elementor-912 .elementor-element.elementor-element-623777f7{width:60%;}
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-41ad6e28{
		width: 85%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;	
	}
	
	.elementor-912 .elementor-element.elementor-element-c7a5737{padding-inline-start:35px;padding-inline-end:35px;}
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-63e0845b{left:0px;}
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-63c8d5d4{left:0px;}
	.elementor-912 .elementor-element.elementor-element-63e0845b .elementor-heading-title{font-size:3rem;}
	.elementor-912 .elementor-element.elementor-element-51001b3f img{width:100%;height:auto;}
	.elementor-912 .elementor-element.elementor-element-310fec2d img{width:100%;height:auto;}
	.elementor-912 .elementor-element.elementor-element-3be55ad0 img{width:100%;height:auto;}
	.elementor-912 .elementor-element.elementor-element-3be55ad0 img{width:100%; height:auto;}
	body:not(.rtl) .elementor-912 .elementor-element.elementor-element-f8f338d{left:0px;}
	
	body:not(.rtl) .elementor-907 .elementor-element.elementor-element-5c3e36d5 {
    left: 0px;
    text-align: center;
    width: 100%;
    justify-content: center;
}
	body:not(.rtl) .elementor-907 .elementor-element.elementor-element-775eedf5{left:125px;width:100px;}
	.elementor-907 .elementor-element.elementor-element-384e9521{padding-inline-start:35px;padding-inline-end:35px;}
	.elementor-907 .elementor-element.elementor-element-560756a4{width:60%;}
	body:not(.rtl) .elementor-907 .elementor-element.elementor-element-3ea9b8d8
	{
		width: 85%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
	}
	.elementor-907 .elementor-element.elementor-element-5b4b99e1{display:none;}
	body:not(.rtl) .elementor-907 .elementor-element.elementor-element-5c3e36d5{left:0px;}
	body:not(.rtl) .elementor-907 .elementor-element.elementor-element-629e84c8{width:100%;left:0px;}
	body:not(.rtl) .elementor-907 .elementor-element.elementor-element-1caf87bb{left:0px;}
	.elementor-907 .elementor-element.elementor-element-1caf87bb img{height:auto;width:100%;}
	.elementor-907 .elementor-element.elementor-element-7ad72cef img{width:100%; height:auto;}
	.elementor-907 .elementor-element.elementor-element-53744ada img{width:100%;height:auto;}
	.elementor-907 .elementor-element.elementor-element-6cd647de img{width:100%;height:auto;}
	body:not(.rtl) .elementor-907 .elementor-element.elementor-element-6bbcfcc7{left:0px;}

	.elementor-907 .elementor-element.elementor-element-39577a75 img{height:auto;width:100%;}
	.elementor-902 .elementor-element.elementor-element-2b6fb837{width:unset;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-2dd9e349{left:0px;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-5dc0e368{top:100px;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-138f2caf{top:200px;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-5dc0e368{flex-direction:column-reverse;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-1190833c{display:none;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-5dc0e368{text-align:center;}
	.elementor-902 .elementor-element.elementor-element-78b96e74{display:none;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-56dedf61{display:none;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-203f1470{display:none;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-5dc0e368{left:0px;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-56db6ed2{width:100px;left:125px;}
	.elementor-902 .elementor-element.elementor-element-303826a9{width:60%;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-7f66e669{width: 85%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;}
	.elementor-902 .elementor-element.elementor-element-14e616e7{padding-inline-start:35px;padding-inline-end:35px;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-138f2caf{left:0px;}
	body:not(.rtl) .elementor-902 .elementor-element.elementor-element-6ecc3143{left:0px;text-align:center;}
	.elementor-902 .elementor-element.elementor-element-6ecc3143 .elementor-heading-title{font-size:3rem;}
	.elementor-902 .elementor-element.elementor-element-138f2caf img{width:100%;height:auto;}
	.elementor-902 .elementor-element.elementor-element-7764191e img{width:100%;height:auto;}
	.elementor-902 .elementor-element.elementor-element-4733536a img{width:100%;height:auto;}
	.elementor-902 .elementor-element.elementor-element-5a18c8de img{height:auto;width:100%;}
	.elementor-902 .elementor-element.elementor-element-16322b36 img{height:auto;width:100%;}
	
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-5bc4e5f9{top:120px;}
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-608a942e{top:200px;}
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-62f4c69b{display:none;}
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-2da19175{display:none;}
	.elementor-897 .elementor-element.elementor-element-661ac86d{display:none;}
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-5bc4e5f9{flex-direction:column-reverse;}
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-5bc4e5f9 {
    left: 0px;
    text-align: center;
    width: 100%;
}
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-6c80bbd8{left:0px;}
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-5bc4e5f9{left:0px;}
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-5448cd0d{width:100px;left:125px;}
	.elementor-897 .elementor-element.elementor-element-6dfdbfff{width:60%;}
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-171ee3b
	{width: 85%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;}
	.elementor-897 .elementor-element.elementor-element-6c80bbd8 .elementor-heading-title{font-size:3rem;}
	.elementor-897 .elementor-element.elementor-element-6c80bbd8 {
    left: 0;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-608a942e{left:0px;}
	body:not(.rtl) .elementor-897 .elementor-element.elementor-element-48c60b9a{left:0px;}
	
	.elementor-897 .elementor-element.elementor-element-608a942e img{width:100%;height:auto;}
	.elementor-897 .elementor-element.elementor-element-143156da img{width:100%;height:auto;}
	.elementor-897 .elementor-element.elementor-element-63046b9c img{width:100%;height:unset;}
	.elementor-897 .elementor-element.elementor-element-37ef1483 img{width:100%; height:unset;}
	.elementor-897 .elementor-element.elementor-element-30642df8 img{width:100%;height:auto;}
	.elementor-897 .elementor-element.elementor-element-765ee260 img{height:auto;width:100%;}
	.elementor-897 .elementor-element.elementor-element-7438356e img{height:auto;width:100%;}
	body:not(.rtl) .elementor-892 .elementor-element.elementor-element-4e8a6560{top:200px;}
	body:not(.rtl) .elementor-892 .elementor-element.elementor-element-5d229897{flex-direction:column-reverse;top:50px;}
	.elementor-892 .elementor-element.elementor-element-26b0b124 .elementor-heading-title{font-size:3rem;}
	body:not(.rtl) .elementor-892 .elementor-element.elementor-element-497cbf43{display:none;}
	.elementor-892 .elementor-element.elementor-element-75e5e2be{display:none;}
	body:not(.rtl) .elementor-892 .elementor-element.elementor-element-60c3d117{display:none;}
	body:not(.rtl) .elementor-892 .elementor-element.elementor-element-5d229897{text-align:center;width:100%;}
	body:not(.rtl) .elementor-892 .elementor-element.elementor-element-27a8db29{left:0px;}
	body:not(.rtl) .elementor-892 .elementor-element.elementor-element-4e8a6560{left:0px;}
	body:not(.rtl) .elementor-892 .elementor-element.elementor-element-26b0b124{left:0px;width:100%;}
	.elementor-892 .elementor-element.elementor-element-4e8a6560 img{width:100%;height:auto;}
	.elementor-892 .elementor-element.elementor-element-53a302b1 img{width:100%; height:auto;}
	.elementor-892 .elementor-element.elementor-element-13770dfa img{width:100%;height:auto;}
	.elementor-892 .elementor-element.elementor-element-139b11e7 img{width:100%;height:auto;}
	
	body:not(.rtl) .elementor-892 .elementor-element.elementor-element-5d229897{left:0px;text-align:center;width:100%;}
	body:not(.rtl) .elementor-887 .elementor-element.elementor-element-3d688777{display:none;}
	body:not(.rtl) .elementor-887 .elementor-element.elementor-element-43e07ed9{display:none;}
	.elementor-887 .elementor-element.elementor-element-751ae0fd{display:none;}
	body:not(.rtl) .elementor-887 .elementor-element.elementor-element-879f484{display}
	.elementor-711 .elementor-element.elementor-element-1acb728f{justify-content:center;}
	body:not(.rtl) .elementor-711 .elementor-element.elementor-element-a8d0485{left:0px;top:120px;}
	.elementor-711 .elementor-element.elementor-element-6e84aa72{display:none;}
	body:not(.rtl) .elementor-711 .elementor-element.elementor-element-51128ab3{display:none;}
	body:not(.rtl) .elementor-711 .elementor-element.elementor-element-77a5b18a{display:none;}
	.elementor-897 .elementor-element.elementor-element-53885cb3{padding-inline-start:35px;padding-inline-end:35px;}
	.elementor-892 .elementor-element.elementor-element-8eb30e7{padding-inline-start:35px;padding-inline-end:35px;}
	.elementor-711 .elementor-element.elementor-element-3d132506{padding-inline-start:35px;padding-inline-end:35px;}
	body:not(.rtl) .elementor-711 .elementor-element.elementor-element-58691ea2{width:100px;left:125px;}
	body:not(.rtl) .elementor-892 .elementor-element.elementor-element-53261a8{width:100px;left:125px;}
	body:not(.rtl) .elementor-711 .elementor-element.elementor-element-42275866{width: 85%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;}
	.elementor-892 .elementor-element.elementor-element-2acad3fa{width:60%;}
	body:not(.rtl) .elementor-892 .elementor-element.elementor-element-13b8543f{width: 85%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;}
	
	.elementor-711 .elementor-element.elementor-element-28455f20{width:60%}
	body:not(.rtl) .elementor-887 .elementor-element.elementor-element-e7b0ad6{width:100px;left:125px;}
	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-27205e73{display:none;}
	.elementor-807 .elementor-element.elementor-element-569b7e34{display:none;}
	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-54e1205c{display:none;}
/* 	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-27205e73
	{
		width:35%;
			right:0;
		left:unset;
	} */
	.elementor-887 .elementor-element.elementor-element-4ffb72fc{width:60%;}
	body:not(.rtl) .elementor-887 .elementor-element.elementor-element-65ea53b1{width: 85%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;}
	
	
	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-203eb08a{flex-direction:column-reverse;position:unset;}
	
	.elementor-807 .elementor-element.elementor-element-2f297504{justify-content:center;}
	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-2e28e8c5{width: 85%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;}	
	
	.elementor-887 .elementor-element.elementor-element-717ae91a{padding-inline-start:35px; padding-inline-end:35px;}
	.elementor-807 .elementor-element.elementor-element-7ea9916b{padding-inline-start:35px;padding-inline-end:35px;}
	.elementor-807 .elementor-element.elementor-element-446879fb{width:60%;}
	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-35b3a4a8{width:100px;left:125px;}
	.elementor-887 .elementor-element.elementor-element-16acc9d0{--container-widget-width: 100%;}
	.elementor-887 .elementor-element.elementor-element-380ac1df{--container-widget-width: 100%;}
	.elementor-887 .elementor-element.elementor-element-879f484 img{width:100%;height:auto;}
	
	body:not(.rtl) .elementor-887 .elementor-element.elementor-element-16acc9d0{left:0px;}
	body:not(.rtl) .elementor-887 .elementor-element.elementor-element-879f484{display:block;left:0px;top:120px;}
	
body:not(.rtl) .elementor-887 .elementor-element.elementor-element-1b8eee72 {
    left: 0px!important;
    text-align: center;
    width: 100%;
    --gap: unset;
	flex-direction:column-reverse;
}	
	 
	.elementor-887 .elementor-element.elementor-element-79431ef3{width:unset;}
	.elementor-887 .elementor-element.elementor-element-879f484 img{width:100%;height:auto;}
	
	
	body:not(.rtl) .elementor-887 .elementor-element.elementor-element-1b8eee72{left:0px!important;}
	.elementor-711 .elementor-element.elementor-element-52f46d8{min-height:325px;}
	.elementor-711 .elementor-element.elementor-element-55b918ce{min-height:1926px!important;}
	body:not(.rtl) .elementor-711 .elementor-element.elementor-element-52f46d8{top:650px;}
	.elementor-711 .elementor-element.elementor-element-55b9b056{--container-widget-width:100%;text-align:center;}
	body:not(.rtl) .elementor-711 .elementor-element.elementor-element-4f82809f{left:0px;}
	body:not(.rtl) .elementor-711 .elementor-element.elementor-element-63849e36{left:0px;width:100%}
	body:not(.rtl) .elementor-711 .elementor-element.elementor-element-460adab{flex-direction:column-reverse;left:0px;width:100%;--gap:unset;}
	
	.elementor-807 .elementor-element.elementor-element-721c5b1e .elementor-heading-title{font-size:1rem;}
	.elementor-807 .elementor-element.elementor-element-3dc4bab4 .elementor-heading-title{font-size: 14.64px;}
	.elementor-807 .elementor-element.elementor-element-13478d7e .elementor-heading-title{font-size:14.64px;}
	
	.elementor-807 .elementor-element.elementor-element-30441f1b .elementor-heading-title{font-size:14.64px;}
	
	
	.elementor-807 .elementor-element.elementor-element-4172e8e9
	{
		--padding-block-start: 24.4px;
	}
	.elementor-807 .elementor-element.elementor-element-164c5d0 {
    width: unset;
}
	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-15bcf74 {
    left: 0;
    margin: auto;
    width: 100%;
	}
	.elementor-807 .elementor-element.elementor-element-46f30bea img{height:auto;width:100%}
	.elementor-807 .elementor-element.elementor-element-52f5e45f img{height:auto;width:100%}
	.elementor-807 .elementor-element.elementor-element-59fcbce4 img{height:auto;width:100%}
	
	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-22372662{left:0;}
	
	.elementor-807 .elementor-element.elementor-element-3b4b1f3c .elementor-heading-title{font-size:3rem;}
	
	
	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-203eb08a {
   left:0px;
		margin:auto;text-align:center;
    --gap: unset;
    --flex-direction: unset;
    top: 280px;
}
	
	body:not(.rtl) .elementor-711 .elementor-element.elementor-element-f54a0ec{left:0;}
	.elementor-711 .elementor-element.elementor-element-396fe834{margin-top:225px;}
	.elementor-711 .elementor-element.elementor-element-55b918ce{min-height:1235px;}
	body:not(.rtl) .elementor-711 .elementor-element.elementor-element-3da0f929{left:0;}
	
	.elementor-711 .elementor-element.elementor-element-a8d0485 img{height:auto;width:100%;}
    .elementor-807 .elementor-element.elementor-element-51bd90b3 img {
        width: 100%; /* Ensures image takes full width of the viewport */
        height: auto; /* Maintains aspect ratio */
    }
	.elementor-807 .elementor-element.elementor-element-2707d6d3 img
	{
		width: 100%; /* Ensures image takes full width of the viewport */
        height: auto; /* Maintains aspect ratio */
	}
	.elementor-807 .elementor-element.elementor-element-2886b1de img
	{
		width: 100%; /* Ensures image takes full width of the viewport */
        height: auto; /* Maintains aspect ratio */
	}
	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-2886b1de{left:0px; top:200px;}
	
	
	
	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-3b4b1f3c{left:0}
	body:not(.rtl) .elementor-807 .elementor-element.elementor-element-49c0799b{left:0}

	.elementor-711 .elementor-element.elementor-element-85ff7de img{width:100%;height:auto;}
.elementor-711 .elementor-element.elementor-element-3b651237 img{width:100%;height:auto;}
	
	.elementor-711 .elementor-element.elementor-element-27b27dec img{width:100%;height:auto;}
}
:where(body .is-layout-flow) > :last-child:last-child{margin-block-start:0px;}
.elementor-807 .elementor-element.elementor-element-15bcf74{top:0px;}
body:not(.rtl) .elementor-807 .elementor-element.elementor-element-3b4b1f3c{width: 100%;text-align: center;}


</style>
<!-- end Simple Custom CSS and JS -->
